<div class="backgroundMain">

  <h1>Bienvenido a Shopéame</h1>

  <h5>¿Qué es Shopéame?</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam obcaecati molestiae voluptate, officiis quod illum fuga, laboriosam at hic culpa minima. Ipsum eaque sint possimus? Id molestias sint doloribus?</p>

  <h5>¿Para qué puedo usar Shopéame?</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam obcaecati molestiae voluptate, officiis quod illum fuga, laboriosam at hic culpa minima. Ipsum eaque sint possimus? Id molestias sint doloribus?</p>

  <h5>¿Quiénes hacemos Shopéame?</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam obcaecati molestiae voluptate, officiis quod illum fuga.</p>

  <h5>¿Es seguro usar Shopéame?</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

</div>


