<div>

  <div class="logoBar">
    <img src="../../../../assets/Captura de Pantalla 2022-10-26 a las 18.55.02.png" alt="">
  </div>

  <div class="orangeBar">

    <a class="linkBox" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <img class="icon" src="../../../../assets/homeP.png" alt="home icon">
    <p>Home</p>
    </a>

    <a class="linkBox" routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <img class="icon" src="../../../../assets/productos.png" alt="products icon">
    <p>Products</p>
     </a>

    <a class="linkBox" routerLink="/gestion" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <img class="icon" src="../../../../assets/gestion.png" alt="gestion icon">
    <p>Gestion</p>
    </a>

  </div>

</div>
